<div class="row my-md-5 mb-5 align-items-center">
    <div class="col-md-7 order-2 order-md-1 pl-lg-5">
        <h1 class="mt-5 mt-md-0">Diseño / Desarrollo Web & Multimedia</h1>
        <hr class="underline">
        <p><strong class="destacado">¡Hola! Me llamo Jorge,</strong> pero la gente que me conoce me dice <strong class="destacado"><em>[Coke]</em></strong>.<br>Creo ciegamente en
            que un Desarrollador Web debe de saber lo suficiente de diseño para que tanto el usuario como el
            cliente sean felices.
        </p>
        <span class="pt-3 d-block">
             <a class="btn btn-primary" ui-sref="sobre-mi">Conoce más sobre mí</a>
        </span>
    </div>
    <div class="col-md-5 order-1 order-md-2 pr-lg-5">
        <img class="img-fluid rounded sombra" src="images/jorge-posada.jpg" alt="Jorge Posada">
    </div>
</div>
<div class="row">
    <div class="col rounded-top bg-light py-5 p-md-5 sombra">
        <h2>Proyectos recientes</h2>
        <hr class="underline">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card h-100">
                    <img src="/images/portafolio/wearecontactica.jpg" class="card-img-top" alt="Wearecontactica">
                    <div class="card-body">
                        <h4 class="card-title">Contáctica</h4>
                        <p class="small">Sitio web</p>
                        <p class="card-text">Website y portafolio de casos de éxito de una de las agencias Agencias Digitales más importantes de Puerto Rico, con presencia en más de 8 países.</p>
                        <a href="https://wearecontactica.com/#/" target="_blank" class="btn btn-primary">Visitar</a>
                    </div>
                    <div class="card-footer bg-transparent">
                        <p class="text-muted">Desarrollo a la medida hecho con ❤️ en AngularJS y HTML5.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card h-100">
                    <img src="/images/portafolio/garantiadirectv.jpg" class="card-img-top" alt="Garantía Directv">
                    <div class="card-body">
                        <h4 class="card-title">Garantía DirecTV</h4>
                        <p class="small">Landing de promociones</p>
                        <p class="card-text">Website enfocado mostrar promociones para los clientes y no clientes dentro de Puerto Rico.</p>
                        <a href="https://pepsicholipass.com/" target="_blank" class="btn btn-primary">https://garantiadirectv.com/</a>
                    </div>
                    <div class="card-footer bg-transparent">
                        <p class="text-muted">Desarrollo adaptado para Wordpress.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img src="/images/portafolio/triplessalud.jpg" class="card-img-top" alt="Triple-S Salud">
                    <div class="card-body">
                        <h4 class="card-title">Triple-S Salud</h4>
                        <p class="small">Sitio web</p>
                        <p class="card-text">Sitio web de la empresa lider y la más grande en seguros de salud en Puerto Rico.</p>
                        <a href="https://salud.grupotriples.com/" target="_blank" class="btn btn-primary">Visitar</a>
                    </div>
                    <div class="card-footer bg-transparent">
                        <p class="text-muted">Desarrollo a la medida hecho con ❤️ en Php y Javascript, adaptado para Wordpress.</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="card sombra">
                    <div class="card-body">
                        <p class="card-text">Mira los demás proyectos en Behance</p>
                        <a href="https://www.behance.net/cokeposada" target="_blank" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>