<div class="row my-5 align-items-center">
    <div class="col-md-6 order-2 order-md-1">
        <h1 class="mt-5 mt-md-0">Diseñador / Desarrollador Web & Multimedia</h1>
        <hr class="underline">
        <p>Hola, Me llamo Jorge pero la gente que me conoce me dice Coke (me gusta más que el real). Creo ciegamente en
            que un desarrollador web debe de saber lo suficiente de diseño como para que tanto el usuario como el
            cliente sean felices.<br>
            <a ui-sref="sobre-mi">Más sobre mí.</a></p>
    </div>
    <div class="col-md-6 order-1 order-md-2 px-5 px-md-3">
        <img class="img-fluid" src="images/responsive-design.svg" alt="Responsive Design">
    </div>
</div>