<div class="row my-5 align-items-center">
    <div class="col-md-6 order-2 order-md-1">
        <h1 class="mt-5 mt-md-0">Jorge Posada Ciceros</h1>
        <hr class="underline">
        <p>Tecnólogo en Producción de Multimedia nacido en la ciudad de Medellín con poco más de 5 años de
            experiencia.
            Me gusta pensar que con mi trabajo hago de la web un sitio más amigable para todos.</p>
        <p>Me gusta ser el puente que conecta el diseño con la programación, por eso mi campo de acción
            generalmente ha
            sido en esa área: Diseño web, UX, Desarrollo Frontend, Google Display, Rich Media banners, edición de
            video, gifs, entre otros.</p>
        <p>Aparte del código y los pixeles, el resto de mi tiempo lo empleo viendo series, tomando cerveza o en
            conciertos con mi banda de hardcore.</p>
    </div>
    <div class="col-md-6 order-1 order-md-2 px-5">
        <img class="img-fluid rounded sombra" src="images/jorge-posada.jpg" alt="Jorge Posada">
    </div>
</div>
<div class="row">
    <div class="col rounded-top bg-light p-5">
        <h3>Experiencia laboral</h3>
        <hr class="underline">
        <div class="row mb-3 align-items-center">
            <div class="col-6">
                <p>Web designer/developer<br><small>Feeling Company</small></p>
            </div>
            <div class="col-6">
                <p>Abril 2016 - actualidad</p>
            </div>
            <div class="col-6">
                <p>Web designer/developer<br><small>DDB Worldwide Colombia</small></p>
            </div>
            <div class="col-6">
                <p>Abril 2013 - abril 2016</p>
            </div>
            <div class="col-6">
                <p>Web designer<br><small>Tribal Worldwide Colombia</small></p>
            </div>
            <div class="col-6">
                <p>Octubre 2012 - abril 2013</p>
            </div>
        </div>
        <h3>Educación</h3>
        <hr class="underline">
        <div class="row mb-3 align-items-center">
            <div class="col-6">
                <p>Tecnólogo en Producción de Multimedia<br><small>Servicio Nacional de Aprendizaje SENA</small></p>
            </div>
            <div class="col-6">
                <p>Julio 24 del 2014</p>
            </div>
            <div class="col-6">
                <p>Técnico en Electrónica General<br><small>Instituto de Síntesis Electrónica</small></p>
            </div>
            <div class="col-6">
                <p>Diciembre 16 del 2010</p>
            </div>
            <div class="col-6">
                <p>Bachiller media técnica en Electrónica<br><small>I.E INEM José Félix de Restrepo</small></p>
            </div>
            <div class="col-6">
                <p>Diciembre 6 del 2009</p>
            </div>
        </div>
        <h3>Habilidades</h3>
        <hr class="underline">
        <p>
            Ads, After Effects, Angularjs, Animation, Bootstrap, CSS3, Firebase, HTML5, Illustrator, JavaScript, Jquery, Photoshop, Responsive Web, Spritesheets, TweenMax, UI/UX, Web Design, Wireframes
            <br><br>
        <small>Más detalles en mi <a href="files/jorge-posada-hdv.pdf" target="_blank">Currículum vitae.</a></small>
        </p>
    </div>
</div>