<div class="row my-md-5 mb-5 align-items-center">
    <div class="col-md-7 order-2 order-md-1 pl-md-5">
        <h1 class="mt-5 mt-md-0">Sobre mí</h1>
        <hr class="underline"> 
        <p><strong>Tecnólogo en Producción de Multimedia, con más de 9 años de
            experiencia.</strong>
            Me gusta pensar que con mi trabajo hago de la web <strong>un sitio más amigable para todos.</strong></p>
        <p>Me gusta ser el puente que conecta el diseño con la programación, por eso mi campo de acción
            generalmente ha
            sido en esa área: <strong>
                Desarrollo Frontend, Diseño web, UX, UI, Google Display, Rich Media banners, edición de
                video, gifs, entre otros.
            </strong></p>
        <p>Aparte del código y los pixeles, el resto de mi tiempo lo empleo viendo series, tomando cerveza con mis amigos o en
            conciertos de harcore, por cierto tengo una banda: <a href="https://www.instagram.com/realhouseofhate/" target="_blank" rel="noopener noreferrer">@realhouseofhate.</a></p>
    </div>
    <div class="col-md-5 order-1 order-md-2 pr-md-5">
        <img class="img-fluid" src="images/responsive-design.svg" alt="Responsive Design">
    </div>
</div>
<div class="row">
    <div class="col rounded-top bg-light p-5">
        <h3>Experiencia laboral</h3>
        <hr class="underline">
        <div class="row mb-3 align-items-center">
            <div class="col-6">
                <p>Interactive Frontend Developer<br><small>Contáctica</small></p>
            </div>
            <div class="col-6">
                <p>Febrero 2019 - actualidad</p>
            </div>
            <div class="col-6">
                <p>Web designer/developer<br><small>Feeling Company</small></p>
            </div>
            <div class="col-6">
                <p>Abril 2016 - febrero 2019</p>
            </div>
            <div class="col-6">
                <p>Web designer/developer<br><small>DDB Worldwide Colombia</small></p>
            </div>
            <div class="col-6">
                <p>Abril 2013 - abril 2016</p>
            </div>
            <div class="col-6">
                <p>Web designer<br><small>Tribal Worldwide Colombia</small></p>
            </div>
            <div class="col-6">
                <p>Octubre 2012 - abril 2013</p>
            </div>
        </div>
        <h3>Educación</h3>
        <hr class="underline">
        <div class="row mb-3 align-items-center">
            <div class="col-6">
                <p>Salesforce Certified Marketing Cloud Email Specialist<br><small>Certificación de Salesforce</small></p>
            </div>
            <div class="col-6">
                <p>Noviembre de 2020</p>
            </div>
            <div class="col-6">
                <p>Tecnólogo en Producción de Multimedia<br><small>Servicio Nacional de Aprendizaje SENA</small></p>
            </div>
            <div class="col-6">
                <p>Julio 24 de 2014</p>
            </div>
            <div class="col-6">
                <p>Técnico en Electrónica General<br><small>Instituto de Síntesis Electrónica</small></p>
            </div>
            <div class="col-6">
                <p>Diciembre 16 de 2010</p>
            </div>
            <div class="col-6">
                <p>Bachiller con Media Técnica en Electrónica<br><small>I.E INEM José Félix de Restrepo</small></p>
            </div>
            <div class="col-6">
                <p>Diciembre 6 de 2009</p>
            </div>
        </div>
        <h3>Habilidades Técnicas <small style="font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 14px;">(En orden alfabético)</small></h3>
        <hr class="underline">
        <p>
            Ads, After Effects, AngularJs, Animation, Bootstrap, CSS3, Figma, Firebase, Git, Github, HTML5, Illustrator, JavaScript, Jquery, NextJs, Photoshop, Php, Supabase, ReactJs, Responsive Web, Tailwind, UI/UX, Web Design, Wireframes, Wordpress
        <!-- <small>Más detalles en mi <a href="files/jorge-posada-hdv.pdf" target="_blank">Currículum vitae.</a></small> -->
        </p>
    </div>
</div>